/*
 * Autor:               Sara Alamillo Arroyo
 * Fecha creación:      18/10/2014
 * Última modificación: 09/12/2014
 * Versión:             1.0
 */
button {
    margin: 0;
    padding: 0;
    position: relative;
    height: 27px;
    border: 1px solid #8797AA;
    background: linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    line-height: 25px;
    width: 100%; 
}

button:hover {
    border-color: #F5D50F;
    background: linear-gradient(#FEF5EB 0%, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
}

button:not(:disabled):active { 
    top: 1px; 
}

button:disabled {
    border-color: #B4C2D1;
    background: #D9E4F1;
}
button:focus {
    outline: none;
}
body {
    background-color: #D9E4F1;
    font: 12px/1.2 Segoe UI, sans-serif;
}
#pie {
    position: fixed;
    box-sizing: border-box;
    width: 95%;
    bottom: 0;
    padding: 5px 5px 5px 10px;
    background: linear-gradient(#E6EFFB, #FFFFFF);
    margin-bottom: 5px;
    border: 1px solid #727F8D;
    border-radius: 3px;
    color: #1C3759;
}